.cardContact {
    background-color: #7a7adb;
    color: rgb(22, 20, 22);
    font-size: 26px;
}

.titleContact {
    font-size: 60px;
}

.intro {
    font-size: 40px
}

.introPlus {
    font-size: 26px
}