/* .navBar {
    color: white;
    background-color: #414141;
    background-image: linear-gradient(315deg, #414141 0%, #000000 74%);
}

.navItem {
    color: white;
} */
.navItem {
    color: black;
    font-size: 25px;  
}

#myName {
    font-size: 45px;
}