
.titleProject {
    font-size: 60px;
}


.textProject {
    color: gray;
    position: center;
}

.cardProject:hover #image1 {
    opacity: 0.3;
}

.cardProject:hover #image2 {
    opacity: 0.3;
}

.cardProject:hover #image3 {
    opacity: 0.3;
}

.middle:hover  {
    color: black;
    filter: none;
        -webkit-transform: scale(1.01);
}

.textProject:hover {
    color: white;
}


